target/
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.DS_Store

# eclipse
.classpath
.project

# eclipse .settings: ignore everything, keep only the shared compiler & encoding config
**/.settings/*
!**/.settings/org.eclipse.jdt.core.prefs
!**/.settings/org.eclipse.core.resources.prefs
